.list{
  font-size: 23px;
  list-style: none;
}
.fas{
  color: red;
  margin-right: 15px;
  cursor: pointer;
  font-size: 23px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form-control{
  border: 2px solid black;
}
